@media only screen and (max-width:600px) {
    body {
        margin: 100px 0;
    }

    button {
        width: 85px;
        height: 85px;
        font-size: 36px;
        border-radius: 50px;
    }

    input {
        height: 80px;
        font-size: 28px;
        margin: 15px 0;
    }

    h1 {
        background: #3b3b9d;
        color: white;
        padding: 20px;
    }

    .Button {
        width: 170px;
    }

    .box {
        width: 90vw;
        margin: auto;
        padding: 30px 0px 11px;
    }
}