    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        text-align: center;
        margin: 50px;
        font-family: sans-serif;
    }

    input {
        height: 62px;
        font-size: 18px;
        border-radius: 6px;
        margin: 15px 0px;
        border: none;
        outline: none;
    }

    button {
        width: 50px;
        height: 50px;
        font-size: 18px;
        border-radius: 6px;
        border: none;
        outline: none;
    }

    table {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        border: 2px solid #544f4f;
        border-radius: 8px;
        background-color: #000000;
        margin: 30px auto;
        width: 255px;
        padding: 20px 0px 5px;
    }

    .Button{
        width: 106px;
    }

    .orange {
        background-color: orange;
        color: white;
    }

    .gray {
        background-color: #afa8a8;
        color: white;
    }

    .btn {
        background-color: #383535;
        color: white;
    }